In [1]:
import numpy as np
import pandas as pd
import nbconvert

In [2]:
file_path = 'data/Cancer_rate_by_countries.csv'

cancer_data = pd.read_csv(file_path)

cancer_data.head()

   Unnamed: 0  Rank        Country  Cancer_Rate
0           0     1      Australia        468.0
1           1     2    New Zealand        438.1
2           2     3        Ireland        373.7
3           3     4        Hungary        368.1
4           4     5  United States        352.2

In [3]:
cancer_data.describe()

       Unnamed: 0      Rank  Cancer_Rate
count    50.00000  50.00000    50.000000
mean     24.50000  25.50000   294.082000
std      14.57738  14.57738    50.026628
min       0.00000   1.00000   233.600000
25%      12.25000  13.25000   253.900000
50%      24.50000  25.50000   286.500000
75%      36.75000  37.75000   317.775000
max      49.00000  50.00000   468.000000

In [4]:
unique_countries = cancer_data['Country'].unique()
print(unique_countries)

['Australia' 'New Zealand' 'Ireland' 'Hungary' 'United States' 'Belgium'
 'France' 'Denmark' 'Norway' 'Netherlands' 'Canada'
 'France (New Caledonia)' 'United Kingdom' 'South Korea' 'Germany'
 'Switzerland' 'Luxembourg' 'Serbia' 'Slovenia' 'Latvia' 'Slovakia'
 'Czech Republic' 'Sweden' 'Italy' 'Croatia' 'Lithuania' 'Estonia'
 'Greece' 'Spain' 'Finland' 'Uruguay' 'Belarus' 'Portugal' 'Iceland'
 'France (Guadeloupe)' 'United States (Puerto Rico)' 'Moldova' 'Poland'
 'Cyprus' 'France (Martinique)' 'Malta' 'Singapore' 'Japan' 'Austria'
 'Barbados' 'France (French Guiana)' 'Bulgaria' 'Lebanon'
 'France (French Polynesia)' 'Israel']

In [5]:
average_cancer_rate = cancer_data['Cancer_Rate'].mean()
print(f"Середнє значення рівня захворюваності на рак: {average_cancer_rate}")

Середнє значення рівня захворюваності на рак: 294.08200000000005

In [6]:
data_without_rank = cancer_data.drop(columns=['Rank'])
shuffled_data = data_without_rank.sample(frac=1).reset_index(drop=True)

shuffled_data.head()

   Unnamed: 0        Country  Cancer_Rate
0          17         Serbia        307.9
1           0      Australia        468.0
2          37         Poland        253.8
3           4  United States        352.2
4          42          Japan        248.0

In [7]:
sorted_data = shuffled_data.sort_values(by='Cancer_Rate', ascending=False).reset_index(drop=True)


sorted_data['Rank'] = range(1, len(sorted_data) + 1)

sorted_data.head()

   Unnamed: 0        Country  Cancer_Rate  Rank
0           0      Australia        468.0     1
1           1    New Zealand        438.1     2
2           2        Ireland        373.7     3
3           3        Hungary        368.1     4
4           4  United States        352.2     5

In [8]:
def categorize_cancer_rate(rate):
    if rate > 350:
        return 'High'
    elif rate > 300:
        return 'Medium'
    else:
        return 'Low'

cancer_data['Cancer_Rate_Category'] = cancer_data['Cancer_Rate'].apply(categorize_cancer_rate)

first_row = cancer_data.iloc[0]
middle_row = cancer_data.iloc[10]
last_row = cancer_data.iloc[-1]

print("Перший рядок:\n", first_row)
print("\nСередній рядок:\n", middle_row)
print("\nОстанній рядок:\n", last_row)

Перший рядок:
 Unnamed: 0                      0
Rank                            1
Country                 Australia
Cancer_Rate                 468.0
Cancer_Rate_Category         High
Name: 0, dtype: object

Середній рядок:
 Unnamed: 0                  10
Rank                        11
Country                 Canada
Cancer_Rate              334.0
Cancer_Rate_Category    Medium
Name: 10, dtype: object

Останній рядок:
 Unnamed: 0                  49
Rank                        50
Country                 Israel
Cancer_Rate              233.6
Cancer_Rate_Category       Low
Name: 49, dtype: object

In [9]:
category_counts = cancer_data['Cancer_Rate_Category'].value_counts()

print(category_counts)

Cancer_Rate_Category
Low       30
Medium    15
High       5
Name: count, dtype: int64